@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 210 8% 5%;

    --card: 200 10% 94%;
    --card-foreground: 210 8% 5%;

    --popover: 200 10% 94%;
    --popover-foreground: 210 8% 5%;

    --primary: 198 100% 40%;
    --primary-foreground: 180 9% 98%;

    --secondary: 200 12% 91%;
    --secondary-foreground: 210 8% 5%;

    --muted: 195 8% 91%;
    --muted-foreground: 197 9% 45%;

    --accent: 195 8% 91%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 190 9% 87%;
    --input: 200 9% 80%;
    --ring: 197 36% 72%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 200 7% 8%;
    --foreground: 180 9% 98%;

    --card: 200 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 200 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 198 100% 40%;
    --primary-foreground: 180 9% 98%;

    --secondary: 195 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 196 7% 29%;
    --muted-foreground: 198 8% 49%;

    --accent: 198 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 192 8% 12%;
    --input: 202 9% 18%;
    --ring: 198 100% 40%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
